<nav class="container my-5">

  <div class="container">
    <h1>Buscador</h1>
    
    <label for="min">Precio Mínimo:</label>
    <input type="number" id="min" placeholder="Ingrese precio mínimo">
    
    <label for="max">Precio Máximo:</label>
    <input type="number" id="max" placeholder="Ingrese precio máximo">
    
    <button id="buscar" class="btn">Buscar</button>
  </div>
  
  <div class="container">
    @for (item of carros; track item) {
      @if (item.precio >= PrecioMinimo && item.precio <= PrecioMaximo) {
        <table class="table table-bordered mb-3" style="width: 100%;">
          <tr>
            <td>
              <strong>Marca:</strong> {{item.marca}}
            </td>
            <td>
              <strong>Precio:</strong> ${{item.precio}}
            </td>
            <td style="text-align: center; width: 150px;">
              <button class="btn btn-success" [routerLink]="['/detalles', item.id]">Más detalles</button>
            </td>
          </tr>
        </table>
      }
    }
  </div>
</nav>
